@page
@model RP_PELICULAS_FS.Pages.Movies.CreateModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Movie</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Movie.titulo" class="control-label"></label>
                <input asp-for="Movie.titulo" class="form-control" />
                <span asp-validation-for="Movie.titulo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Movie.genero" class="control-label"></label>
                <input asp-for="Movie.genero" class="form-control" />
                <span asp-validation-for="Movie.genero" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Movie.precio" class="control-label"></label>
                <input asp-for="Movie.precio" class="form-control" />
                <span asp-validation-for="Movie.precio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Movie.fechaLanzamiento" class="control-label"></label>
                <input asp-for="Movie.fechaLanzamiento" class="form-control" />
                <span asp-validation-for="Movie.fechaLanzamiento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Movie.descripcion" class="control-label"></label>
                <input asp-for="Movie.descripcion" class="form-control" />
                <span asp-validation-for="Movie.descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
