@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">TV FRANK</h1>

    <p style="text-align: justify;">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras nulla mauris, finibus eu elementum nec, tempor at eros. Sed ullamcorper nibh sit amet ipsum tempus, commodo mattis elit aliquet. Ut vel tincidunt metus. In commodo purus sed tortor tempus, in laoreet sapien scelerisque. Phasellus sagittis commodo imperdiet. Donec scelerisque eget enim eget porta. Proin vel est vitae orci dictum commodo sed in tellus. Phasellus lacinia laoreet lacus venenatis finibus. Pellentesque feugiat neque et pulvinar finibus. Proin ultricies, ligula a molestie ultrices, tellus velit tempus neque, sed consectetur justo sem at velit. Etiam sed lacus leo.
    <p />

    <p style="text-align: justify;">
        Curabitur massa libero, vestibulum vitae ante at, porttitor luctus nisl. In ut mi egestas, rhoncus enim id, vulputate lorem. Fusce elementum felis a tellus tincidunt, non bibendum odio egestas. Pellentesque ac vulputate quam. Maecenas justo dui, molestie cursus ex sit amet, mollis semper magna. Morbi posuere, orci quis placerat mattis, felis arcu dapibus ipsum, ut tincidunt diam urna vitae nibh. Mauris nec mauris nec ipsum commodo laoreet eu at ex. Curabitur lacinia neque ac volutpat euismod. Donec consectetur efficitur felis. Vestibulum mollis non neque eget suscipit. Nulla vitae tristique magna. Etiam suscipit porttitor tempus.
    </p>
    <p>Sobre nosotros <a href="https://www.tvtime.com/about">disfruta de nuestro mejor catálogo</a>.</p>
</div>


