@page
@model PrivacyModel
@{
    ViewData["Title"] = "Política de privacidad";
}
<h1>@ViewData["Title"]</h1>

<br />

<h4>INFORMACIÓN AL USUARIO</h4>

<p>
    <h5>¿Quién es el responsable del tratamiento de tus datos personales?</h5>
    TRIBUNA CONTENIDOS DIGITALES S.L., con CIF B37508223, domicilio en Plaza de España 7. Oficina 1. 37004. Salamanca (España), e inscrita en el Registro Mercantil de Salamanca, es el RESPONSABLE del tratamiento de los datos personales del USUARIO y le informa de que estos datos serán tratados de conformidad con lo dispuesto en el Reglamento (UE) 2016/679, de 27 de abril (GDPR), y la Ley Orgánica 3/2018, de 5 de diciembre (LOPDGDD).
</p>

<p>
    020 © TRIBUNA CONTENIDOS DIGITALES S.L. · TODOS LOS DERECHOS RESERVADOS · <b>@ViewData["TimeStamp"]</b>
</p>
